<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{~/styles/main.css}">
    <script src="https://kit.fontawesome.com/e6cba708a8.js" crossorigin="anonymous"></script>
    <link rel="icon" th:href="@{~/img/sketchframe.ico}">
    <title>SketchFrame: Message Sent!</title>
</head>
<body>

    <div class="content">
        <h1 class="green">Message Successfully Sent!</h1>
        <h2 class="green">Isaiah Has Received Your Message!</h2>
        <p>Now Let's Get Back <a href="/" >home</a>!</p>
    </div>
    <footer>
        <p>&copy SketchFrame 2022</p>
    </footer>
</body>
</html>