<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{~/styles/main.css}">
    <script th:src="@{~/js/script.js}" defer></script>
    <script src="https://kit.fontawesome.com/e6cba708a8.js" crossorigin="anonymous"></script>
    <link rel="icon" th:href="@{~/img/sketchframe.ico}">
    <title>SketchFrame: Manage Artwork</title>
</head>
<body>
    <header>
        <div th:insert="fragments/nav :: nav"></div>
        <div class="banner" th:style="'background-image:url(' + @{~/img/Background3.png} + '); background-repeat: no-repeat, repeat; background-size: cover;'">
            <h1>YOUR ART</h1>
        </div>
    </header>
    <div class="content">
        <div class="rows">
            <div class="imgbox" th:each="artwork: ${artwork}">
                <a th:href="@{'/view/'+${artwork.id}+'/'+${#authentication.name}}">
                    <img th:src="${artwork.image}" alt="">
                </a>
                <h3 th:text="${artwork.title}">Title</h3>
                <a th:href="@{'/edit/'+${artwork.id}+'/'+${#authentication.name}}"><button class="goodbutton">Update Info</button></a>
                <a th:href="${artwork.image}" th:download="${artwork.title}"><button class="goodbutton">Download</button></a>
                <a th:href="@{'/delete/'+${artwork.id}+'/'+${#authentication.name}}"><button class="badbutton">Delete</button></a>
            </div>

        </div>
    </div>
    </div>
    <footer>
        <p>&copy SketchFrame 2022</p>
    </footer>
</body>
</html>